<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="db_chassis_publish_odom_tf" default="true"/>

    <include file="$(find db_chassis)/launch/db_chassis.launch">
        <arg name="db_chassis_publish_odom_tf" value="$(arg db_chassis_publish_odom_tf)"/>
    </include>

    <include file="$(find db_joystick)/launch/parsing_joystick.launch"/>
    <include file="$(find db_audio)/launch/db_audio.launch"/>

    <include file="$(find db_parsing)/launch/db_parsing.launch"/>
    <include file="$(find db_power_box_parsing)/launch/db_power_box_parsing.launch"/>
    <include file="$(find db_bumper)/launch/db_bumper.launch"/>

    <!-- <include file="$(find db_config)/launch/static_transforms.launch"/> -->
    <include file="$(find db_description)/launch/db_description.launch"/>
    <!-- <include file="$(find db_config)/launch/cmd_vel_mux.launch"/> -->
    
    <include file="$(find db_website)/launch/website_helpers.launch"/>
</launch>
