<launch>
    <arg name="localization"       default="false"/>
    <arg name="map_path"           default="map.yaml"/>

    <include file="$(find db_config)/launch/rplidar.launch"/>

    <node if="$(arg localization)" pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find db_config)/config/laser_slam/amcl.yaml" command="load"/>
        <remap from="scan" to="/scan_filtered"/>
    </node>
    <node if="$(arg localization)" name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg map_path)"/>

    <node unless="$(arg localization)" pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="/scan_filtered"/>
        <rosparam command="load" file="$(find db_config)/config/laser_slam/gmapping.yaml" />
    </node>
    
</launch>