<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="camera">
        <!-- Launch the camera device nodelet-->
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="external_manager"         value="false"/>
            <arg name="manager"                  value="realsense2_camera_manager"/>
            <arg name="tf_prefix"                value="camera"/>

            <arg name="enable_sync"              value="true"/>
            <arg name="align_depth"              value="true"/>
            <arg name="enable_pointcloud"        value="false"/>

            <arg name="enable_fisheye"           value="false"/>
            <arg name="enable_fisheye1"          value="false"/>
            <arg name="enable_fisheye2"          value="false"/>
            <arg name="enable_infra1"            value="false"/>
            <arg name="enable_infra2"            value="false"/>

            <arg name="depth_width"              value="640"/>
            <arg name="depth_height"             value="480"/>
            <arg name="enable_depth"             value="true"/>

            <arg name="color_width"              value="640"/>
            <arg name="color_height"             value="480"/>
            <arg name="enable_color"             value="true"/>

            <arg name="depth_fps"                value="30"/>
            <arg name="color_fps"                value="30"/>
            <arg name="enable_gyro"              value="false"/>
            <arg name="enable_accel"             value="false"/>

            <!-- <arg name="depth_optical_frame_id"    default="camera_color_optical_frame"/> -->
            <!-- <arg name="color_optical_frame_id"    default="camera_color_optical_frame"/> -->
        </include>

        <!-- <include file="$(find rgbd_launch)/launch/includes/rgb.launch.xml">
            <arg name="manager"                       value="realsense2_camera_manager" />
            <arg name="respawn"                       value="false" />
            <arg name="rgb"                           value="color" />
        </include>

        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync camera_nodelet_manager" output="screen">
            <param name="compressed_rate"  type="double" value="5.0"/>
            <param name="approx_sync"      type="bool"   value="false"/>

            <remap from="rgb/image"       to="color/image_raw"/>
            <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info" to="color/camera_info"/>
        </node> -->
    </group>
</launch>
