<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find rover6_config)/launch/rtabmap.launch">
        <!-- <arg name="args" value="delete_db_on_start"/> -->
        <arg name="args" value="$(find rover6_config)/config/rtabmap.ini"/>
        <arg name="compressed" value="true"/>
        <arg name="subscribe_rgbd" value="true"/>
        <arg name="rgbd_topic" value="/camera/rgbd_image"/>

        <arg name="odom_frame_id" value="odom"/>
        <arg name="visual_odometry" value="false"/>
    </include>

</launch>
