<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="camera">
        <!-- Load camera parameters. Based on https://answers.ros.org/question/276371/load-parameters-using-roslaunch-saved-as-yaml-from-rqt-dynamic-reconfigure/ -->
        <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /camera/rgb_camera $(find db_config)/config/realsense_config.yaml" />

        <!-- Launch the camera device nodelet-->

        <!--
            Note: disable auto_exposure_priority in rqt_reconfigure
            (rosrun rqt_reconfigure rqt_reconfigure). This will dramatically
            reduce motion blur.
        -->
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="external_manager"         value="false"/>
            <arg name="manager"                  value="realsense2_camera_manager"/>
            <arg name="tf_prefix"                value="camera"/>

            <arg name="enable_sync"              value="true"/>
            <arg name="align_depth"              value="true"/>
            <arg name="enable_pointcloud"        value="false"/>

            <arg name="enable_fisheye"           value="false"/>
            <arg name="enable_fisheye1"          value="false"/>
            <arg name="enable_fisheye2"          value="false"/>
            <arg name="enable_infra1"            value="false"/>
            <arg name="enable_infra2"            value="false"/>

            <arg name="depth_width"              value="848"/>
            <arg name="depth_height"             value="480"/>
            <arg name="enable_depth"             value="true"/>

            <arg name="color_width"              value="1920"/>
            <arg name="color_height"             value="1080"/>
            <!-- <arg name="color_width"              value="848"/> -->
            <!-- <arg name="color_height"             value="480"/> -->
            <arg name="enable_color"             value="true"/>

            <arg name="depth_fps"                value="30"/>
            <arg name="color_fps"                value="30"/>
            <!-- <arg name="color_fps"                value="60"/> -->
            <arg name="enable_gyro"              value="false"/>
            <arg name="enable_accel"             value="false"/>

            <!-- <arg name="depth_optical_frame_id"    default="camera_color_optical_frame"/> -->
            <!-- <arg name="color_optical_frame_id"    default="camera_color_optical_frame"/> -->
        </include>

        <include file="$(find rgbd_launch)/launch/includes/rgb.launch.xml">
            <arg name="manager"                       value="realsense2_camera_manager" />
            <arg name="respawn"                       value="false" />
            <arg name="rgb"                           value="color" />
        </include>

        <!-- Publish registered XYZRGB point cloud with hardware registered input (ROS Realsense depth alignment) -->
        <node pkg="nodelet" type="nodelet" name="points_xyzrgb_hw_registered"
                args="load depth_image_proc/point_cloud_xyzrgb realsense2_camera_manager" respawn="false">
            <remap from="rgb/image_rect_color"        to="color/image_raw" />
            <remap from="rgb/camera_info"             to="color/camera_info" />
            <remap from="depth_registered/image_rect" to="aligned_depth_to_color/image_raw" />
            <!-- <remap from="depth_registered/points"     to="points" /> -->
        </node>
    </group>
</launch>
