<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="localize_mode"      default="false"/>
    
    <group ns="rtabmap">
        <arg name="localization"      value="$(arg localize_mode)"/>
        <arg     if="$(arg localization)" name="rtabmap_args"  default=""/>
        <arg unless="$(arg localization)" name="rtabmap_args"  default="--delete_db_on_start"/>

        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_rgb" type="bool" value="true"/>

            <remap from="rgb/image"       to="/camera/color/image_raw"/>
            <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info" to="/camera/color/camera_info"/>

            <param name="odom_frame_id" type="string" value="odom"/>
            <param name="frame_id" type="string" value="base_link"/>

            <param name="approx_sync" type="bool" value="false"/>

            <param unless="$(arg localization)" name="RGBD/OptimizeFromGraphEnd" type="bool" value="true"/>
            <param if="$(arg localization)" name="Mem/IncrementalMemory" type="bool" value="false"/>
            <param if="$(arg localization)" name="Mem/InitWMWithAllNodes" type="bool" value="true"/>
            <param if="$(arg localization)" name="RGBD/SavedLocalizationIgnored" type="bool" value="true"/>
            <param if="$(arg localization)" name="Reg/Strategy" type="string" value="0"/>
        </node>
    </group>


    <node pkg="tf" type="static_transform_publisher" name="camera_base_to_depth" args="0.0 0.0 0.0 0 0 0 1 camera_link camera_depth_frame 30" />
    <node pkg="tf" type="static_transform_publisher" name="camera_depth_to_optical" args="0.0 0.0 0.0 0 0 0 1 camera_depth_frame camera_depth_optical_frame 30" />
    <node pkg="tf" type="static_transform_publisher" name="camera_base_to_color" args="0.0 0.0 0.0 0 0 0 1 camera_link camera_color_frame 30" />
    <node pkg="tf" type="static_transform_publisher" name="camera_color_to_optical" args="0.0 0.0 0.0 0 0 0 1 camera_color_frame camera_color_optical_frame 30" />

</launch>
