<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="localization"       default="false"/>
    <arg name="database_path"      default="rtabmap.db"/>
    <arg name="create_new_db"      default="$(eval not localization)"/>
    <arg name="use_laser"          default="true"/>

    <arg     if="$(arg create_new_db)" name="rtabmap_args"  default="--delete_db_on_start"/>
    <arg unless="$(arg create_new_db)" name="rtabmap_args"  default=""/>

    <!-- <include file="$(find db_config)/launch/rgbd_msgs.launch"/> -->

    <group ns="rtabmap">
        <!-- <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
            <param name="subscribe_rgbd" type="bool"   value="true"/>
            <param name="frame_id"       type="string" value="base_link"/>
            <param name="odom_frame_id" type="string" value="odom"/>
            <param name="wait_for_transform_duration" type="double" value="0.3"/>

            <remap from="rgbd_image" to="/camera/rgbd_image"/>
            <remap from="rgb/image"       to="/camera/color/image_raw"/>
            <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info" to="/camera/color/camera_info"/>

            <param name="Odom/Holonomic" type="string" value="false"/>
        </node> -->

        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
            <rosparam file="$(find db_config)/config/rtabmap/rtabmap_common.yaml" command="load"/>
            <rosparam     if="$(arg localization)" file="$(find db_config)/config/rtabmap/rtabmap_localization.yaml" command="load"/>
            <rosparam unless="$(arg localization)" file="$(find db_config)/config/rtabmap/rtabmap_mapping.yaml" command="load"/>

            <param name="database_path"       type="string" value="$(arg database_path)"/>
            <param name="frame_id" type="string" value="base_link"/>
            <param name="odom_frame_id" type="string" value="odom"/>
            <param name="odom_tf_angular_variance" type="double" value="1.0"/>
            <param name="odom_tf_linear_variance" type="double" value="0.05"/>
            <param name="tf_delay" type="double" value="0.03"/>  <!-- Rate at which the TF from /map to /odom is published -->

            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_rgb" type="bool" value="true"/>
            <param name="approx_sync" type="bool" value="$(arg use_laser)"/>
            <param name="wait_for_transform_duration" type="double" value="0.1"/>
            <!-- <param name="odom_sensor_sync" type="bool" value="true"/> -->

            <!-- <remap from="odom" to="/dodobot/odom"/> -->

            <remap from="rgb/image"       to="/camera/color/image_raw"/>
            <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
            <!-- <remap from="depth/image"     to="/camera/depth/image_rect_raw"/> -->
            <remap from="rgb/camera_info" to="/camera/color/camera_info"/>

            <!-- When sending goals on /rtabmap/goal topic, use actionlib to communicate with move_base -->
            <param name="use_action_for_goal" type="bool" value="true"/>
            <remap from="move_base"            to="/move_base"/>
            <remap from="/rtabmap/goal_out"            to="/move_base_simple/goal"/>

            <!-- Remap to /map for move_base -->
            <remap from="grid_map" to="/map"/>

            <!-- laser -->
            <param name="subscribe_scan" type="bool" value="$(arg use_laser)"/>
            <remap if="$(arg use_laser)" from="scan" to="/scan_filtered"/>

            <!-- 0=Vis, 1=Icp, 2=VisIcp, Icp is for laser scans -->
            <param     if="$(arg use_laser)" name="Reg/Strategy" type="string" value="2"/>
            <param unless="$(arg use_laser)" name="Reg/Strategy" type="string" value="0"/>
        </node>
    </group>

</launch>
