<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0.03 0.0 0.10698 0 0 1 0 base_link laser 50" />
    <node pkg="tf" type="static_transform_publisher" name="imu_to_base" args="-0.05886 0.00088 0.04535 0 0 0 1 base_link imu 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="pan_tilt_to_base" args="0.0945 0.0 0.07171 0 0 0 1 base_link pan_tilt_link 16" /> -->
    <node pkg="tf" type="static_transform_publisher" name="pan_tilt_to_base" args="0.0695 0.025 0.5 0 0 0 1 base_link pan_tilt_link 16" />
    <node pkg="tf" type="static_transform_publisher" name="camera_to_rotate" args="0.04529 0.0 0.0 0 0 0 1 camera_rotate_link camera_link 30" />
</launch>
