<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="tilt_to_base" args="0.03016488 0.0 0.24785032 0 0 0 1 base_link tilt_base_link 33" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_to_rotate" args="0.04575 0.0175 0.0155 -0.5 0.5 -0.5 0.5 camera_rotate_link camera_link 33" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_to_rotate" args="0.04575 0.0175 0.0155 0 0 0 1 camera_rotate_link camera_link 33" /> -->
    <node pkg="tf" type="static_transform_publisher" name="camera_link_to_base" args="0.1009 0.0175 0.26335 -0.5 0.5 -0.5 0.5 base_link camera_link 30"/>

    <node pkg="tf" type="static_transform_publisher" name="linear_to_base" args="0.06046488 0.0 0.01825032 0 0 0 1 base_link linear_base_link 12" />
    <node pkg="tf" type="static_transform_publisher" name="gripper_to_linear" args="0.097222 0.0 0.0045 0 0 0 1 linear_link gripper_link 12" />

    <node pkg="tf" type="static_transform_publisher" name="camera_base_to_depth" args="0.0 0.0 0.0 0 0 0 1 camera_link camera_depth_frame 30" />
    <node pkg="tf" type="static_transform_publisher" name="camera_depth_to_optical" args="0.0 0.0 0.0 0 0 0 1 camera_depth_frame camera_depth_optical_frame 30" />
    <node pkg="tf" type="static_transform_publisher" name="camera_base_to_color" args="0.0 0.0 0.0 0 0 0 1 camera_link camera_color_frame 30" />
    <node pkg="tf" type="static_transform_publisher" name="camera_color_to_optical" args="0.0 0.0 0.0 0 0 0 1 camera_color_frame camera_color_optical_frame 30" />
</launch>
