<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rqt_image_view" type="rqt_image_view" name="camera_view" output="screen">
        <param name="topic"  type="string" value="/camera/color/image_raw"/>
        <param name="transport"  type="string" value="compressed"/>
    </node>
    <node pkg="rqt_image_view" type="rqt_image_view" name="depth_view" output="screen">
        <param name="topic"  type="string" value="/camera/aligned_depth_to_color/image_raw"/>
        <param name="transport"  type="string" value="compressedDepth"/>
    </node>
</launch>
