<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="image_view" type="image_view" name="camera_view" args="image:=/camera/color/image_raw  _image_transport:=compressed" output="screen"/>
    <node pkg="image_view" type="image_view" name="depth_view" args="image:=/camera/aligned_depth_to_color/image_raw  _image_transport:=compressedDepth" output="screen"/>
</launch>
