<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="follow_waypoints" type="follow_waypoints" name="follow_waypoints" output="log" clear_params="true">
        <param name="goal_frame_id" value="map"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="waypoint_distance_tolerance" value="0.15"/>
    </node>
</launch>
