<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="camera">
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="log"/>

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync camera_nodelet_manager" output="log">
            <param name="compressed_rate"  type="double" value="5.0"/>
            <param name="approx_sync"      type="bool"   value="false"/>

            <remap from="rgb/image"       to="color/image_raw"/>
            <remap from="rgb/camera_info" to="color/camera_info"/>

            <!-- HW aligned depth: -->
            <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>

            <!-- SW aligned depth: -->
            <!-- <remap from="depth/image"     to="depth_registered/sw_registered/image_rect_raw"/> -->
        </node>
    </group>
</launch>
