<robot name="dodobot">
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <origin rpy="0 0 1.5707" xyz="-0.04943 0.0 0.0"/>
      <geometry>
        <mesh filename="package://db_support/meshes/chassis.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_link_to_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="tilt_base_link"/>
    <origin xyz="0.03016488 0.0 0.24785032"/>
  </joint>

  <link name="tilt_base_link">
    <visual>
      <!-- <origin rpy="1.5707 0 1.5707" xyz="0.01457 0.0027 0.0136"/> -->
      <origin rpy="1.5707 0 1.5707" xyz="0.0456 0 0"/>
      <geometry>
        <mesh filename="package://db_support/meshes/camera.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>
</robot>
