[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
Description=roslaunch

[Service]
Type=simple
User=ben
Group=ben
ExecStart=/usr/local/bin/roslaunch.sh

Restart=always
RestartSec=90
StartLimitBurst=3

KillSignal=SIGINT
TimeoutStopSec=10
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
