<launch>
    <group ns="dodobot" >
        <arg name="drive_cmd_topic" value="drive_cmd_throttle"/>
        <arg name="motor_topic_throttle_rate" default="60.0"/>
        <!-- <arg name="drive_cmd_topic" value="drive_cmd"/> -->

        <node type="throttle" name="motor_topic_throttle" pkg="topic_tools" required="true" output="screen"
            args="messages drive_cmd $(arg motor_topic_throttle_rate) $(arg drive_cmd_topic)"/>

        <param name="serial_port" type="string" value="/dev/ttyTHS1"/>
        <param name="serial_baud" type="int" value="115200"/>
        <param name="drive_cmd_topic" type="string" value="$(arg drive_cmd_topic)"/>
        <param name="use_sensor_msg_time" type="bool" value="false"/>
        <param name="display_img_topic" type="string" value="display_image"/>
        <param name="jpeg_image_quality" type="int" value="35"/>
        <param name="starter_image_path" type="string" value="$(find db_parsing)/launch/dodobot-ros.jpg"/>

        <node type="db_parsing_node" name="db_parsing_node" pkg="db_parsing" required="true" output="screen"/>
    </group>
</launch>
