<launch>
    <group ns="camera">
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="log"/>

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync camera_nodelet_manager" output="log">
            <param name="compressed_rate"  type="double" value="5.0"/>
            <param name="approx_sync"      type="bool"   value="false"/>

            <remap from="rgb/image"       to="color/image_raw"/>
            <remap from="rgb/camera_info" to="color/camera_info"/>

            <!-- HW aligned depth: -->
            <remap from="depth/image"     to="aligned_depth_to_color/image_raw"/>

            <!-- SW aligned depth: -->
            <!-- <remap from="depth/image"     to="depth_registered/sw_registered/image_rect_raw"/> -->
        </node>
    </group>

    <group ns="rtabmap">
        <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="log">
            <param name="subscribe_rgbd" type="bool"   value="true"/>
            <param name="subscribe_rgb"        type="bool"   value="false"/>
            <param name="subscribe_depth"      type="bool"   value="false"/>
            <param name="frame_id"       type="string" value="base_link"/>
            <param name="odom_frame_id" type="string" value="odom"/>
            <param name="wait_for_transform_duration" type="double" value="0.3"/>

            <remap from="rgb/image"       to="/camera/color/image_raw"/>
            <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
            <remap from="rgbd_image" to="/camera/rgbd_image"/>

            <param name="Odom/Holonomic" type="string" value="false"/>
            <param name="Odom/GuessMotion" type="string" value="true"/>
            <param name="Odom/Strategy" value="1"/>  <!-- Frame-to-Frame odometry -->
            <param name="Vis/CorType" value="1"/>  <!-- Optical Flow -->
            <param name="OdomF2M/MaxSize" value="1000"/>
            <param name="Vis/EstimationType" value="1"/>  <!-- 2D->3D PnP -->
            <param name="Vis/MaxFeatures" value="600"/>
            <param name="Odom/ResetCountdown"           value="3" />
        </node>
    </group>

    <!-- <group ns="dodobot" >
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
            <rosparam command="load" file="$(find db_config)/config/ekf/odom_ekf.yaml" />
            <remap from="odometry/filtered" to="odom/filtered"/>
            <remap from="accel/filtered" to="accel/filtered"/>
        </node>
    </group> -->
</launch>
