<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="cmd_vel_topic" default="cmd_vel"/>
    <arg name="db_chassis_services_enabled" default="true"/>
    <arg name="db_chassis_publish_odom_tf" default="true"/>
    <arg name="db_chassis_use_sensor_msg_time" default="false"/>
    <arg name="db_chassis_odom_frame" default="odom"/>

    <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /dodobot/db_chassis $(find db_config)/config/db_chassis.yaml" />

    <group ns="dodobot">
        <node name="db_chassis" pkg="db_chassis" type="db_chassis_node" output="log" required="true">
            <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />

            <param name="ticks_per_rotation" value="1496.88"/>
            <param name="wheel_distance_mm" value="200.0"/>

            <param name="min_angular_speed" value="0.7"/>
            <!-- <param name="min_angular_speed" value="2.0"/> -->
            <param name="max_angular_speed" value="6.0"/>
            <param name="min_linear_speed" value="0.06"/>
            <param name="max_linear_speed" value="0.69"/>

            <param name="tilter_lower_angle_deg" value="-50.0"/>
            <param name="tilter_upper_angle_deg" value="0.0"/>
            <param name="tilter_lower_command" value="10"/>
            <param name="tilter_upper_command" value="140"/>

            <param name="gripper_open_cmd" value="180"/>
            <param name="gripper_closed_cmd" value="47"/>
            <param name="gripper_open_angle_deg" value="26.630499"/>
            <param name="gripper_closed_angle_deg" value="85.288720"/>

            <param name="armature_length" value="0.06"/>
            <param name="armature_width" value="0.01"/>
            <param name="hinge_pin_to_armature_end" value="0.004"/>
            <param name="hinge_pin_diameter" value="0.0028575"/>
            <param name="hinge_pin_to_pad_plane" value="0.00893542"/>
            <param name="pad_extension_offset" value="0.00406250"/>
            <param name="central_axis_dist" value="0.015"/>

            <param name="kP_A" value="0.25"/>
            <param name="kP_B" value="0.25"/>
            <param name="kD_A" value="0.0"/>
            <param name="kD_B" value="0.0"/>
            <param name="kI_A" value="0.0"/>
            <param name="kI_B" value="0.0"/>

            <param name="services_enabled" value="$(arg db_chassis_services_enabled)"/>
            <!-- <param name="odom_estimate_method" value="runge-kutta"/> -->
            <!-- <param name="odom_estimate_method" value="geometric"/> -->
            <param name="publish_odom_tf" value="$(arg db_chassis_publish_odom_tf)"/>
            <param name="use_sensor_msg_time" value="$(arg db_chassis_use_sensor_msg_time)"/>
            <param name="odom_parent_frame" value="$(arg db_chassis_odom_frame)"/>
            <param name="idle_timeout" value="1.0"/>
        </node>
    </group>
</launch>
