[Unit]
# Requires=roscore.service
# PartOf=roscore.service
After=NetworkManager.service time-sync.target # roscore.service
Description=roslaunch

[Service]
Type=simple
User=ben
Group=ben
ExecStart=/home/ben/.local/dodobot/dodobot-ros/bin/roslaunch.sh

Restart=on-failure
RestartSec=5s
StartLimitBurst=3

KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
