[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
Description=dodobot ros launch

[Service]
Type=simple
User=ben
Group=ben
ExecStart=/home/ben/.local/dodobot/dodobot-ros/bin/roslaunch.sh
Restart=no
KillSignal=SIGINT
TimeoutStopSec=3
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
