<launch>
    <arg name="model" default="$(find db_description)/urdf/dodobot.urdf.xml"/>
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <rosparam param="source_list" subst_value="True">
    [
        "/db/joint_states",
    ]
    </rosparam>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group ns="dodobot" >
        <node name="db_description" pkg="db_description" type="db_description_node" output="screen">
            <rosparam param="joint_names" file="$(find db_description)/config/dodobot_joints.yaml" command="load"/>
        </node>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="camera_to_rotate" args="0.029824 0.0175 0.0155 0 0 0 1 camera_rotate_link camera_link 33" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_footprint" args="0 0 0.0312 0 0 0 1 base_link wheel_center_link 33" />
    <node pkg="tf" type="static_transform_publisher" name="linear_to_gripper" args="0.144 0 0.0017 0 0 0 1 linear_link gripper_link 33" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_center_to_laser" args="0.005 -0.080 0.1697 0 0 1 0 wheel_center_link laser 33" />
</launch>
