<launch>
    <arg name="waypoints_path" default="$(find db_waypoints)/waypoints/$(env ROS_MAP_NAME)"/>
    <group ns="db" >
        <node name="db_waypoints" pkg="db_waypoints" type="db_waypoints_node.py" output="screen" required="false">
            <param name="class_names_path" value="$(find db_yolo)/models/dodobot_objects.names"/>
            <!-- <remap from="cmd_vel" to="cmd_vel_follow"/> -->
            <!-- <param name="class_names_path" value="$(find db_yolo)/models/powercell_2021.names"/> -->
            <param name="waypoints_path" value="$(arg waypoints_path)"/>
            <param name="enable_waypoint_navigation" value="true"/>
            <param name="local_obstacle_layer_topic" value=""/>
        </node>
    </group>
</launch>
