<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_realsense"
       args="record -o $(find db_config)/bags/realsense
            /dodobot/drive
            /camera/aligned_depth_to_color/image_raw
            /camera/aligned_depth_to_color/camera_info
            /camera/color/image_raw
            /camera/color/camera_info
            " />
</launch>
