[Desktop Entry]
Name=RViz
Comment=RViz
Keywords=rviz;
Exec=/opt/ros/melodic/bin/rviz
Icon=preferences-desktop-remote-desktop
Terminal=true
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
X-Ubuntu-Gettext-Domain=rviz
