<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_name" default="map-{date}.yaml"/>

    <include file="$(find db_laser_slam)/launch/db_laser_slam.launch">
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="mode" value="idle"/>
    </include>
    <include file="$(find db_waypoints)/launch/db_waypoints.launch"/>
    <include file="$(find db_launcher)/launch/db_launcher.launch"/>
    <include file="$(find db_camera)/launch/camera_launcher.launch"/>
    
</launch>
