<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <include file="$(find db_bbox_to_pose)/launch/db_bbox_to_pose.launch"/> -->
    <!-- <include file="$(find db_config)/launch/ros_deep_learning.launch"/> -->
    <include file="$(find db_config)/launch/dodobot.launch"/>
    <include file="$(find db_config)/launch/realsense.launch"/>
    <include file="$(find db_config)/launch/move_base.launch"/>
    <include file="$(find db_planning)/launch/fake_map.launch"/>
    <!-- <include file="$(find db_planning)/launch/db_planning.launch"/> -->

</launch>
