<launch>
    <arg name="map_name" default=""/>
    <arg name="map_dir" value="/home/ben/laser_maps"/>
    <arg name="map_path" value="$(arg map_dir)/$(arg map_name).yaml"/>
    
    <arg name="waypoints_name" value="$(arg map_name)_waypoints"/>
    <arg name="waypoints_path" value="$(arg map_dir)/$(arg waypoints_name).yaml"/>

    <include file="$(find db_config)/launch/laser_slam.launch">
        <arg name="map_path" value="$(arg map_path)"/>
        <arg name="localization" value="true"/>
    </include>
    
    <include file="$(find db_waypoints)/launch/db_waypoints.launch">
        <arg name="waypoints_path" value="$(arg waypoints_path)"/>
    </include>

    <!-- <include file="$(find db_config)/launch/move_base.launch"/> -->
</launch>