<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_name" default="map-{date}.yaml"/>
    <arg name="mode" default="mapping"/> <!-- "mapping" or "localize" -->
    <node pkg="db_laser_slam" type="db_laser_slam_node.py" name="db_laser_slam" output="screen">
        <param name="mode" value="$(arg mode)"/>
        <param name="map_name" value="$(arg map_name)"/>
    </node>
</launch>
