<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="use_sim_time" value="true"/>
    <arg name="bag_name" default=""/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="--pause --clock $(find db_laser_slam)/bags/$(arg bag_name)"/>

    <node pkg="db_laser_slam" type="odom_bag_publisher.py" name="odom_bag_publisher" output="screen">
        <remap from="odom" to="/tj2/odom/filtered"/>
    </node>
    <include file="$(find tj2_rplidar)/launch/laser_filter.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_footprint" args="0.0  0.0  -0.117 0 0 0 1 base_link base_footprint 33" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser" args="-0.0553 0.116 0.253 0 0 1 0 base_footprint laser 33" />

    <include file="$(find db_laser_slam)/launch/db_laser_slam.launch">
        <arg name="mode" value="mapping"/>
    </include>
    
</launch>
