<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find tj2_rplidar)/launch/tj2_rplidar.launch"/>
    <node pkg="rosbag" type="record" name="rosbag_record_laser"
       args="record -o $(find db_laser_slam)/bags/laser
            /tj2/odom
            /tj2/odom/filtered
            /laser/scan
            /tj2/swerve_modules/0
            /tj2/swerve_modules/1
            /tj2/swerve_modules/2
            /tj2/swerve_modules/3
            /tj2/wheel_joint_state
            /tj2/imu
            /tj2/cmd_vel
            /joint_states
            " />
</launch>
