<launch>
    <group ns="dodobot" >
        <node name="db_planning" pkg="db_planning" type="central_planning.py" output="screen" required="true"></node>
        <node name="db_planning" pkg="db_planning" type="chassis_planning.py" output="screen" required="true"></node>
        <node name="db_planning" pkg="db_planning" type="front_loader_planning.py" output="screen" required="true"></node>
    </group>
</launch>
