<launch>
    <group ns="dodobot" >
        <node name="db_planning_central"      pkg="db_planning" type="central_planning.py" output="screen" required="true">
            <param name="insert_sequence_path" value="$(find db_planning)/sequences/insert.csv" type="str"/>
            <param name="extract_sequence_path" value="$(find db_planning)/sequences/extract.csv" type="str"/>
            <param name="tag_name" value="target_rotated" type="str"/>
        </node>
        <node name="db_planning_chassis"      pkg="db_planning" type="chassis_planning.py" output="screen" required="true"></node>
        <node name="db_planning_front_loader" pkg="db_planning" type="front_loader_planning.py" output="screen" required="true"></node>
    </group>

    <!-- <node pkg="tf" type="static_transform_publisher" name="carriage_to_gripper" args="0.006123 0.0 -0.007330 0 0 0 1 gripper_link bp_carriage_link 30" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="tag_to_carriage" args="0.135830 0.005 0.087148 0 0 0 1 bp_carriage_link tag_origin_link 30" /> -->
    <node pkg="tf" type="static_transform_publisher" name="tag_to_rotated_pos" args="0.0 0.0 0.0 -0.5 0.5 0.5 0.5 target target_rotated 30" />
    <node pkg="tf" type="static_transform_publisher" name="tag_to_start_pos" args="-0.636 0.0 -0.26824532 0 0 0 1 target_rotated base_start_link 30" />
</launch>
