<launch>
    <group ns="dodobot" >
        <node name="apriltag_odom_conversion" pkg="db_planning" type="tag_conversion.py" output="screen" required="true"/>
    </group>


    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find db_planning)/config/ekf/ekf.yaml" />

        <!--  Placeholder for output topic remapping
        <remap from="odometry/filtered" to=""/>
        <remap from="accel/filtered" to=""/>
        -->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="tag_to_rotated_pos" args="0.0 0.0 0.0 -0.5 0.5 0.5 0.5 target target_rotated 30" />
    <node pkg="tf" type="static_transform_publisher" name="tag_to_start_pos" args="-0.636 0.018 -0.11132121 0 0 0 1 target_rotated base_start_link 30" />
</launch>
