<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="post_processing_manager_name" value="camera_post_processing_manager"/>
    <arg name="camera_manager_name" value="realsense2_camera_manager"/>
    
    <group ns="camera">
        <node pkg="nodelet" type="nodelet" args="manager" name="$(arg post_processing_manager_name)" output="screen"/>

        <!-- <node pkg="nodelet" type="nodelet" name="register_depth"
                args="load depth_image_proc/register $(arg post_processing_manager_name)" respawn="false">
            <remap from="rgb/camera_info"             to="color/camera_info" />
            <remap from="depth/camera_info"           to="depth/camera_info" />
            <remap from="depth/image_rect"            to="depth/image_rect_raw" />
            <remap from="depth_registered/image_rect" to="aligned_depth_to_color/image_raw" />
        </node> -->

        <node pkg="nodelet" type="nodelet" name="points_xyzrgb_sw_registered"
                args="load depth_image_proc/point_cloud_xyz $(arg post_processing_manager_name)" respawn="false">
            <remap from="image_rect" to="depth_filtered/image_raw" />
            <remap from="camera_info" to="depth_filtered/camera_info" />
            <remap from="points" to="depth_filtered/points" />
        </node>

        <node pkg="db_depth_converter" type="db_depth_converter" name="db_depth_converter" output="screen" respawn="false">
            <param name="rescale" value="1.0" />
            <param name="erosion_size" value="3" />
            <param name="connected_components_size_threshold" value="500.0" />
            <!-- <param name="rescale" value="0.5" /> -->
            <!-- <param name="erosion_size" value="2" /> -->
            <!-- <param name="connected_components_size_threshold" value="25.0" /> -->
            <param name="throttle_frame_rate" value="10.0" />
            <remap from="depth/image_raw" to="depth/image_rect_raw" />
            <remap from="depth_filtered" to="depth_filtered/image_raw" />
            <remap from="camera_info" to="depth_filtered/camera_info" />
        </node>

        <node pkg="nodelet" type="nodelet" name="downsample_rgb"
                args="load image_proc/crop_decimate $(arg post_processing_manager_name)">
            <param name="decimation_x" value="2"/>
            <param name="decimation_y" value="2"/>
            <remap from="camera" to="color"/>
            <remap from="camera_out" to="color_decimate"/>
        </node>
    </group>


    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="tf_prefix"                value="camera"/>
        <arg name="external_manager"         value="false"/>
        <arg name="manager"                  value="$(arg camera_manager_name)"/>
        <arg name="serial_no"                value=""/>
        <arg name="usb_port_id"              value=""/>
        <arg name="device_type"              value=""/>
        <arg name="json_file_path"           value=""/>

        <arg name="enable_pointcloud"        value="false"/>
        <arg name="pointcloud_texture_stream" value="RS2_STREAM_COLOR"/>
        <arg name="pointcloud_texture_index"  value="0"/>
        <arg name="enable_sync"              value="true"/>
        <arg name="align_depth"              value="true"/>

        <arg name="fisheye_width"            value="640"/>
        <arg name="fisheye_height"           value="480"/>
        <arg name="enable_fisheye"           value="false"/>
        <arg name="fisheye_fps"              value="30"/>

        <arg name="depth_width"              value="640"/>
        <arg name="depth_height"             value="480"/>
        <arg name="enable_depth"             value="true"/>
        <arg name="depth_fps"                value="30"/>

        <arg name="color_width"              value="960"/>
        <arg name="color_height"             value="540"/>
        <arg name="color_fps"                value="60"/>

        <arg name="infra_width"              value="640"/>
        <arg name="infra_height"             value="480"/>
        <arg name="enable_infra"            value="true"/>
        <!-- <arg name="enable_infra1"            value="false"/> -->
        <!-- <arg name="enable_infra2"            value="false"/> -->
        <!-- <arg name="infra_fps"                value="30"/> -->

        <arg name="enable_gyro"              value="true"/>
        <arg name="enable_accel"             value="true"/>
        <arg name="gyro_fps"                 value="100"/>
        <arg name="accel_fps"                value="100"/>

        <arg name="publish_tf"               value="true"/>
        <!-- <arg name="tf_publish_rate"          value="10"/> -->

        <!-- <arg     if="$(eval compute_pointcloud and pointcloud_use_hw)" name="filters" value="pointcloud,decimation"/> -->
        <!-- <arg unless="$(arg compute_pointcloud)" name="filters" value="decimation"/> -->
        <!-- <arg name="filters" value="decimation"/> -->
        <arg name="filters" value=""/>

        <arg name="clip_distance"            value="-1"/>
        <arg name="linear_accel_cov"         value="0.01"/>
        <arg name="initial_reset"            value="false"/>
        <arg name="unite_imu_method"         value=""/>
        <arg name="topic_odom_in"            value="odom_in"/>
        <arg name="calib_odom_file"          value=""/>
        <arg name="publish_odom_tf"          value="false"/>
        <arg name="allow_no_texture_points"  value="false"/>
    </include>
</launch>
